* {
    margin: 0;
}
body {
    background-color: #faf3dd;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e29578' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.content {
    width: 450px;
}
button {
    font-family: 'Roboto Mono', monospace !important;
}
ul {
    list-style-type: none !important;
}
.font-title {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    font-size: 2.3rem !important;
    font-weight: 300 !important;
    text-transform: uppercase;
}
.font-text {
    font-family: 'Roboto Mono', monospace;
    font-size: medium;
    font-weight: 400 !important;
    letter-spacing: 4px;
}
.font-score {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    font-size: 1.5rem !important;
    font-weight: 300 !important;
    text-transform: uppercase;
}
.button-score {
    font-family: 'Roboto Mono', monospace !important;
    background-color: #02c39a !important;
    font-weight: 300 !important;
    letter-spacing: 3px;
    text-transform: uppercase;
}
